# System
.DS_Store
.venv/
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Project Outputs
runs/
records/
detector/records/
output/
*.mp4
*.avi
debug_validator.js

# Services Data (Runtime)
mosquitto/data/
mosquitto/log/
sqlite/data/

# Docker / Environment
.env
!env.example
docker-compose.override.yml
