# System
.DS_Store
.venv/
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Project Outputs
runs/
records/
detector/records/
output/
*.mp4
*.avi
debug_validator.js

# Services Data (Runtime)
mosquitto/data/
mosquitto/log/
sqlite/data/
mosquitto/data/mosquitto.db

# Node-RED Runtime
nodered/data/node_modules/
nodered/data/.npm/
nodered/data/.config.nodes.json
nodered/data/*.backup

# Docker / Environment
.env
!env.example
docker-compose.override.yml
